{% extends "base.html" %}
{% block body %}
  <div class="d-flex justify-content-center align-items-center"
       style="height: 100vh;
              width: 100vw">
    <div class="row row-gap-3 " style="max-width: 400px" id="main-div">
      <h1>You're logged in!</h1>
      <button hx-post="{% url 'start-server' %}"
              hx-target="#main-div"
              type="button"
              class="btn btn-lg btn-outline-success w-100">Start Server</button>
      <button hx-post="{% url 'stop-server' %}"
              hx-target="#main-div"
              type="button"
              class="btn btn-lg btn-outline-danger w-100">Stop Server</button>
    </div>
  </div>
{% endblock %}
