{% extends "base.html" %}
{% block body %}
    <div class="d-flex justify-content-center align-items-center"
         style="height: 100vh">
        <div class="justify-content-center align-items-center" id="main-div">
            {% if server_is_up %}
                <h1>
                    <strong>Hurray!</strong> Server is up.
                </h1>
                <div class="d-flex justify-content-center mt-5">
                    <button hx-post="{% url 'stop-server' %}"
                            hx-target="#main-div"
                            type="button"
                            class="btn btn-lg btn-outline-danger w-100">Stop Server</button>
                </div>
            {% else %}
                <h1>
                    <strong>Oh snap!</strong> Server is down.
                </h1>
                <div class="d-flex justify-content-center mt-5">
                    <button hx-post="{% url 'start-server' %}"
                            hx-target="#main-div"
                            type="button"
                            class="btn btn-lg btn-outline-success">Start Server</button>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
